@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.join-newsletter {
  @extend %section;
  background-color: var.$text-color-primary;

  form {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @include mix.tablet-styles {
      flex-direction: column;
      align-items: center;
    }

    @include mix.mobile-l-styles {
      width: 80%;
    }
  }

  input[type="email"] {
    flex: 1 1 auto;
    padding: math.div(var.$gutter-base, 3);
    margin-right: var.$gutter-base;
    @include mix.tablet-styles {
      margin-right: 0;
      margin-bottom: var.$gutter-base;
      width: 100%;
    }
  }
  @include mix.tablet-styles {
    .btn {
      width: 50%;
    }
  }

  @include mix.mobile-l-styles {
    .btn {
      width: 50%;
    }
  }
}
